alias vim='nvim'
alias open='xdg-open'
alias qconf='nvim ~/.config/qtile/config.py'
alias zz='nvim ~/.zshrc'
alias svim='sudo nvim'
alias ls='lsd'
alias myip='curl ifconfig.co'
alias tip='curl -x socks5://127.0.0.1:9050 ipinfo.io/ip'
alias htop='htop -t'
alias i3conf='nvim ~/.config/i3/config'
alias startor='sudo systemctl start tor'
alias stoptor='sudo systemctl stop tor'
alias cat='ccat'
alias lst='ls --tree'
alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias loc='/srv/http'
alias upload='curl https://free.keep.sh/ --upload-file'
alias dsy='~/.emacs.d/bin/doom sync'

##NO NEED##
alias gg='~/Desktop/Code'
alias check='bpytop'
alias wtr='curl wttr.in'
